<footer class="container-fluid container-global fondo">
    <div class="container">

        <div class="row estilo-footer">
            <div class="col-md-12 col-sm-12">
                <h3 class="letra-footer">Registrate YA. No lo dejes para otro día.</h3>
            </div>
        </div>
        
        <div class="row estilo-footer">
            <div class="col-md-12 col-sm-12 contenedor-boton">
                <a class="botonRegistro" routerLink="/registro" routerLinkActive="active">Registrate</a>	
            </div>
        </div>
        
        <div class="row estilo-footer">
            <div class="col-md-12 col-sm-12 estilo-enlaces">
                <img class="ajuste-logo" routerLink="/" routerLinkActive="active" src="../../assets/img/logo/logo.svg" alt="logo">
            </div>
        </div>

    </div>

    <div class="row estilo-footer">
        <div class="col-md-12 col-sm-12 estilo-enlaces">
            <i class="fas fa-instagram icon"></i>
            <i class="fas fa-google icon"></i>
            <i class="fas fa-facebook icon"></i>
            <i class="fas fa-twitter icon"></i>
        </div>
    </div>

</footer>   


