.fondo{
    background-image: url(../../assets/img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-global{
    margin-top: 5%;
    padding-top: 10%;
    
}

.contenedor-boton{
    margin-top: 4%;
    margin-bottom: 4%;
}

.botonRegistro{
    
    text-decoration: none;
    text-align: center;
	border: none;
    color: white !important;
    font-size: 20px;
    background:  rgb(70, 122, 124);
    padding: 10px 15px;
    border-radius: 5px;
}

.botonRegistro:hover{
    background: cadetblue;
}

.estilo-footer{
    text-align: center;
}

.estilo-enlaces-individual{
    margin-right: 1%;
    margin-bottom: 1%;
}

.letra-footer{
    text-align: center;
    color: #3a3a3a;
    font-size: 2.3333333333333rem;
    font-family: ROBOTO regular;
}

.ajuste-logo{
    width: 30%;
    padding-bottom: 7%;
}

