.contenedor-total{
    background-image: url(../../assets/img/fondo-calculadora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.color-blanco{
    color: white;
}

.estilo-input{
    border: 1px solid gray;
    background-color: rgb(155, 155, 155);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.estilo-tabla{
    text-align: center;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #E65724;
}

.boton{
    background-color: #E65724;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 2%;
    margin-top: 5%;
}

.boton:hover:not([disabled]){
    background-color: rgb(202, 75, 29);
}

.resultado{
    color: white;
    padding-top: 5%;
    font-size: 20px;
}

.container-validaciones{
    background: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 60%;
    border-radius: 5px;
    padding: 3px;
}

.error-validaciones{
    color: #721c24;
    margin-left: 10px;
}
