.contenedor-total {
    font-family: Arial,  sans-serif;
    margin: 0;
    background: url(../../assets/img/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  
}

.separacion{
    padding-bottom: 10%;
}

* {
    box-sizing: border-box;
}

.container-validaciones{
    background: #f8d7da !important;
    border-color: #f5c6cb !important;
    margin-bottom: 5px;
}

.error-validaciones{
    color: #721c24;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    padding: 3px;
    margin-top: 10%;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"], input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover:not([disabled]){
    background: cadetblue;
}

p{
    text-align: center;
}

.ajuste-link{
    padding-top: 3%;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
     color: cadetblue;
}

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}





























