<app-nav-admin></app-nav-admin>
<!--Pagina Usuarios-->

<div class="container-fluid tamaño-total">

    <section class="row tamaño-inf"> 
    
        <div class="col-md-12 col-sm-12 ">
    
        <div class="row">
            <div class="col-md-12 col-sm-12 contenedor-inf">
            <h4 class="estilo-titulo">Total de clientes</h4>
            <div>
                <h6 class="estilo-contenido2 c1">- CLIENTES</h6>
            </div>
    
            
            <h3>Agregar CLIENTTE</h3>
                
    
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">inf</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>X</td>
                </tr>
                </tbody>
            </table>
    
            </div>
        </div>

        <div class="row">
    
            <div class="col-md-12 col-sm-12 contenedor-inf">
            <h4 class="estilo-titulo">Total de Monitores</h4>
            <div>
                <h6 class="estilo-contenido2 c1">- Monitores</h6>
            </div>
    
            
            <h3>Agregar Monitor</h3>
                
    
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">inf</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>X</td>
                </tr>
                </tbody>
            </table>
    
            </div>
    
        </div>
    
        
    
        </div>
    </section>
    
    </div>