<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<nav class=" container-fluid navbar navbar-expand-lg navbar-light fondoImg">

    <div class="row">
        <div class="col-xs-6 col-md-4 col-sm-4 col-lg-3 contenedor-logo">
            <img class="ajuste-logo" routerLink="/" routerLinkActive="active" src="../../assets/img/logo/logo.svg" alt="logo">
        </div>

        <div class="col-xs-6 col-md-8 col-sm-8 col-lg-3 contenedor-hamburger">
            <div class="btn navbar-toggler d-lg-none d-block btn-hamburger">
                <span class="navbar-toggler-icon img-hamburguer"></span>
            </div>
        </div>

        <div class="col-lg-6 nav-vertical contenedor-nav" id="navbarNav">
            <div class="row navbar-nav">
                <ul class="navbar-nav mr-auto contenedor-nav">
                    <div class="col-md-2 col-lg-2">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/" routerLinkActive="active">INICIO</a>
                        </li>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/actividades" routerLinkActive="active">ACTIVIDADES</a>
                        </li>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/personal" routerLinkActive="active">PERSONAL</a>
                        </li>
                    </div>


                    <div class="col-lg-3">
                        <li class="nav-item">
                            <a class="nav-link letra-nav botonLogin rotate-center" routerLink="/login" routerLinkActive="active">LOGIN</a>	
                        </li>
                    </div>
                    

                </ul>
            </div>
        </div>

    </div>

</nav>

<!-- Boton hacia arriba -->
<a class="ir-arriba" title="Volver arriba">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
  </a>
