
<nav class=" container-fluid navbar navbar-expand-lg navbar-light fondoImg">

    <div class="row">
        <div class="col-md-3 col-sm-3 contenedor-logo">
            <img class="ajuste-logo" routerLink="/" routerLinkActive="active" src="../../assets/img/logo/logo.svg">
        </div>

        <div class="col-md-3 col-sm-3 contenedor-logo">
            
        </div>

        <div class="col-md-6 col-sm-6 contenedor-nav">
            <div class="row">
                <ul class="navbar-nav mr-auto contenedor-nav">
                    <div class="col-md-2 col-sm-2">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/" routerLinkActive="active">INICIO</a>
                        </li>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/actividades" routerLinkActive="active">ACTIVIDADES</a>
                        </li>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <li class="nav-item">
                            <a class="nav-link letra-nav" routerLink="/personal" routerLinkActive="active">PERSONAL</a>
                        </li>
                    </div>


                    <div class="col-md-3 col-sm-3">
                        <li class="nav-item">
                            <a class="nav-link letra-nav botonLogin" href="#">Login</a>	
                        </li>
                    </div>
                    

                </ul>
            </div>
        </div>

        
    </div>

</nav>
