.contenedor-nav {
    margin: auto;
  }
  
  .letra-nav {
    text-align: center;
  }
  
  .letra-nav:hover {
    font-weight: bold;
  }
  
  .ajuste-logo {
    width: 40%;
  }
  
  .contenedor-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .botonLogin{
	  border: none;
    color: white !important;
    font-size: 20px;
    background:  black;
    padding: 5px 5px;
    border-radius: 5px;
}

.botonLogin:hover{
    background: cadetblue;
}

.ajuste-logo:hover{
  cursor: pointer;
}

.contenedor-hamburger{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-hamburger{
  display: flex;
  align-items: center;
}

.col-xs-6, .col-xs-6{
  width: 50%;
}

@media (max-width: 991.98px) {
  .nav-vertical {
      border: 1px solid #ccc;
      border-radius: 5px;
      display: none;
      visibility: hidden;
      position: absolute;
      width: 300px;
      top: 67px;
      background-color: white;
      z-index: 1;
      padding-bottom: 18px;
      padding-top: 10px;
  }

  .active {
      right: -1px;
      display: inline;
      visibility: visible;
  }
}

.navbar-collapse{
  background-color: white;
  z-index: 1;
}

/*Boto para ir arriba*/

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-29 12:25:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

