.contenedor-nav {
    margin: auto;
  }
  
  .letra-nav {
    text-align: center;
  }
  
  .letra-nav:hover {
    font-weight: bold;
  }
  
  .ajuste-logo {
    width: 40%;
  }
  
  .contenedor-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .botonLogin{
	  border: none;
    color: white !important;
    font-size: 20px;
    background:  black;
    padding: 5px 5px;
    border-radius: 5px;
}

.botonLogin:hover{
    background: cadetblue;
}

.ajuste-logo:hover{
  cursor: pointer;
}

.contenedor-hamburger{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-hamburger{
  display: flex;
  align-items: center;
}

.col-xs-6, .col-xs-6{
  width: 50%;
}

@media (max-width: 991.98px) {
  .nav-vertical {
      border: 1px solid #ccc;
      right: -301px;
      position: absolute;
      width: 300px;
      top: 57px;
      transition: all .2s ease-out;
      background-color: white;
      z-index: 1;
  }

  .active {
      right: -1px;
  }
}

.navbar-collapse{
  background-color: white;
  z-index: 1;
}

/*Boto para ir arriba*/

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}