

<app-nav></app-nav>

<section class="container">
    <h1>PERSONAL</h1>
    <div class="row">

        <div class="col-md-6 col-sm-6 container-img">
            <picture>
                <source sizes="(min-width: 768px) 50vw,
                                100vw" srcset="../../assets/img/personal/webp/trainer1-lg-1600.webp 1600w,
                                ../../assets/img/personal/webp/trainer1-md-960.webp 960w,
                                ../../assets/img/personal/webp/trainer1-sm-660.webp 660w,
                                ../../assets/img/personal/webp/trainer1-xs-400.webp 400w" type="image/webp">

                <source sizes="(min-width: 768px) 50vw,
                                100vw" srcset="../../assets/img/personal/jpg/trainer1-lg-1600.jpg 1600w,
                                ../../assets/img/personal/jpg/trainer1-md-960.jpg 960w,
                                ../../assets/img/personal/jpg/trainer1-sm-660.jpg 660w,
                                ../../assets/img/personal/jpg/trainer1-xs-400.jpg 400w" type="image/jpg">

                <img class="img-fluid" src="../../assets/img/personal/normal/trainer1.jpg " alt="Entrenador 1">
                </picture>
                <h3 class="descripcion">Monitor Fitness</h3>
        </div>

        <div class="col-md-6 col-sm-6 container-img">
            <picture>
                <source sizes="(min-width: 768px) 50vw,
                                100vw" srcset="../../assets/img/personal/webp/trainer2-lg-1600.webp 1600w,
                                ../../assets/img/personal/webp/trainer2-md-960.webp 960w,
                                ../../assets/img/personal/webp/trainer2-sm-660.webp 660w,
                                ../../assets/img/personal/webp/trainer2-xs-400.webp 400w" type="image/webp">

                <source sizes="(min-width: 768px) 50vw,
                                100vw" srcset="../../assets/img/personal/jpg/trainer1-lg-1600.jpg 1600w,
                                ../../assets/img/personal/jpg/trainer2-md-960.jpg 960w,
                                ../../assets/img/personal/jpg/trainer2-sm-660.jpg 660w,
                                ../../assets/img/personal/jpg/trainer2-xs-400.jpg 400w" type="image/jpg">

                <img class="img-fluid" src="../../assets/img/personal/normal/trainer2.jpg " alt="Entrenador 1">
                </picture>
                <h3 class="descripcion">Monitor Fitness</h3>
        </div>

    </div>

</section>

<app-footer></app-footer>

