<app-nav-admin></app-nav-admin>

<div class="container centrar">
    <h3>Página Administrador</h3>
</div>


<div class="container-fluid tamaño-total">

    <section class="row tamaño-inf"> 

        <div class="col-md-12 col-sm-12 ">

            <div class="row">
                <div class="col-md-12 col-sm-12 contenedor-inf">
                <h4 class="estilo-titulo">Total usuarios</h4>
                <div>
                    <h4 class="estilo-contenido c1">Total Monitores: {{monitoresTotales}}</h4>
                    <h4 class="estilo-contenido c1">Total Clientes: {{clientesTotales}}</h4>
                    <h4 class="estilo-contenido c1">Total Actividades: {{actividadesTotales}}</h4>
                </div>
                </div>
            </div>           

        </div>
    </section>

</div>
    



