<app-nav-admin></app-nav-admin>

<div class="container centrar">
    <h3>Página Administrador</h3>
</div>


<div class="container-fluid tamaño-total">

    <section class="row tamaño-inf"> 

        <div class="col-md-12 col-sm-12 ">

        <div class="row">
            <div class="col-md-12 col-sm-12 contenedor-inf">
            <h4 class="estilo-titulo">Total usuarios</h4>
            <div>
                <h4 class="estilo-contenido c1">Total Monitores: -</h4>
                <h4 class="estilo-contenido c1">Total Clientes: -</h4>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 contenedor-inf">
            <h4 class="estilo-titulo">Total de visitas a su usuario</h4>
            <div>
                <h4 class="estilo-contenido2">-</h4>
                <h6 class="estilo-contenido2">VISITAS</h6>
            </div>
            </div>
        </div>

        </div>
    </section>

</div>
    



