
<!DOCTYPE html>
<html>
<head>
	<title>Pagina principal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

        <nav class=" container-fluid navbar navbar-expand-lg navbar-light">
            
            <div class="row">
                <div class="col-md-3 col-sm-3 contenedor-logo">
                    <img class="ajuste-logo" src="../../assets/img/logo/logo.svg">
                </div>

                <div class="col-md-6 col-sm-6 contenedor-nav">
                    <div class="row">
                        <ul class="navbar-nav mr-auto contenedor-nav">
                        <div class="col-md-3 col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link letra-nav" routerLink="/" routerLinkActive="active">INICIO</a>
                            </li>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link letra-nav" routerLink="/actividades" routerLinkActive="active">ACTIVIDADES</a>
                            </li>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link letra-nav" href="#">PERSONAL</a>
                            </li>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <li class="nav-item">
                                <a class="nav-link letra-nav" href="#">INICIAR SESION</a>
                            </li>
                        </div>
                    </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 contenedor-logo">
                    <img class="ajuste-logo" src="../../assets/img/logo/logo.svg">
                </div>
            </div>
          
        </nav>

        <section class="container"> 
            <h1 class="covid19">Seguimos entrenando contigo desde casa</h1>
        </section>
    

     <section class="container"> 
        <div class="row ajuste-section fondo1">
            <div class="col-sm-6 col-md-6 contenedor-letra">
                <h3 class="estilo-letra animacion-izq letra3d">PONTE EN FORMA</h3>
            </div>
            <div class="col-sm-6 col-md-6">
                <img class="img-section animacion-dere" src="../../assets/img/index/1.webp">
            </div>
        </div>
     </section>

     <section class="container-fluid fondo2">
        <h3 class="letra-fondo2"> TU TAMBIEN PUEDES. </h3>
     </section>


    <div class="wrapper container-cf">
        <input checked type=radio name="slider" id="slide1" />
        <input type=radio name="slider" id="slide2" />
        <input type=radio name="slider" id="slide3" />
        <input type=radio name="slider" id="slide4" />
        <input type=radio name="slider" id="slide5" />
      
        <div class="slider-wrapper">
          <div class=inner>
            <article>
              <div class="info top-left">
                <h3>Sergio Peinado.</h3></div>
              <img src="../../assets/img/cf/cf4.jpg" />
            </article>
      
            <article>
              <div class="info bottom-right">
                <h3>Paola Sánchez</h3></div>
              <img src="../../assets/img/cf/cf3.jpg" />
            </article>
      
            <article>
              <div class="info bottom-left">
                <h3>Jésus Gallego</h3></div>
              <img src="../../assets/img/cf/cf5.jpg" />
            </article>
      
            <article>
              <div class="info top-right">
                <h3>Antonio Fontan.</h3></div>
              <img src="../../assets/img/cf/cf1.jpg" />
            </article>
      
            <article>
              <div class="info bottom-left">
                <h3>Arturo Valley.</h3></div>
              <img src="../../assets/img/cf/cf2.jpg" />
            </article>
          </div>
        
          <!-- .inner -->
        
        </div>
       
        <!-- .slider-wrapper -->
        
        <div class="slider-prev-next-control">
          <label for=slide1></label>
          <label for=slide2></label>
          <label for=slide3></label>
          <label for=slide4></label>
          <label for=slide5></label>
        </div>
       
        <!-- .slider-prev-next-control -->
        
        <div class="slider-dot-control">
          <label for=slide1></label>
          <label for=slide2></label>
          <label for=slide3></label>
          <label for=slide4></label>
          <label for=slide5></label>
        </div>
      
        <!-- .slider-dot-control -->
        
      </div>

     

     <footer class="container-fluid">
         
     </footer>
    

</body>


  



    
    
   

