/* Para cambiar la letra del nav es hay que modificar con sass la clase nav-link*/

/*  Letra texto   font-family: brandon-grotesque,Arial,sans-serif;
    Letra menu    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    letra covid   font-family: proxima-nova,Helvetica,Arial,sans-serif;  */

body {
  font-family: verdana, Helvetica, sans-serif;
}

.container-primero{
  margin-top: 0.5%;
  margin-bottom: 2%;
  background-image: url(../../assets/img/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-motivacion{
  padding-top: 13%;
  padding-bottom: 13%;
}

.strong{
  /*color: #FB5B21;*/
  color: white;
  font-size: 85px;
  margin-left: 1%;
  font-family: teko !important;
}

/*Animacion*/

.tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


/* FIN DE LA ANIMACION */

.covid19 {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Tarifas*/

.container-tarifas-bg{
  background-color: #161616;
  padding: 3%;
  margin-top: 3%;
}

.titulo-tarifas{
  text-align: center;
  color: white;
  font-size: 40px;
}

.container-tarifas{
  margin: 5%;
}

.ajuste-letra-tarifas{
  text-align: center;
  color: white;
}

.disponibilidad{
  color: white;
  padding-top: 5px;
  text-align: center;
}

.container-letra{
  border-right: 5px solid #161616;
  background-color:  #29282D;
  padding: 5%;
}

.e1{
  color: #f34e3a;
}

/*ESTILOS DEL SECTION*/

.container-cf {
  margin-top: 5% !important;
}

.img-section {
  width: 100%;
}

.ajuste-section {
  margin-top: 3%;
}

.contenedor-letra {
  margin: auto;
}

.estilo-letra {
  text-align: center;
}

.fondo1 {
  background-color: #050505;
  border-radius: 2%;
}

.fondo3 {
  background-color: white;
  border-radius: 2%;
}

/*Poner la letra 3d */

.letra3d {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* Imagenes Caracteristicas tipo svg */

.contenedor-svg {
  margin-top: 7%;
}

.contenedor-svg-individual {
  padding: 2%;
  text-align: center;
}

.svg-individual {
  text-align: center;
}

.estilo-svg {
  width: 20%;
  height: 100%;
  text-align: center;
}

.estilo-svg2 {
  width: 17%;
  height: 100%;
  text-align: center;
}


.letraCentro {
  text-align: center;
}

.letraGris {
  color: #a4a4a4 !important;
}


/*---- Imagenes de los cambios fisicos ----*/
.wrapper {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

.inner {
  width: 500%;
  line-height: 0;
}

article {
  width: 20%;
  float: left;
  position: relative;
}
article img {
  width: 100%;
}

/*---- Control de las imagenes ----*/

.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.slider-prev-next-control label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

/* Nombre en las imagenes */

.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1000ms ease-out 600ms;
  -moz-transition: all 1000ms ease-out 600ms;
  transition: all 1000ms ease-out 600ms;
}
.info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}
.info.top-left {
  top: 30px;
  left: 30px;
}
.info.top-right {
  top: 30px;
  right: 30px;
}
.info.bottom-left {
  bottom: 30px;
  left: 30px;
}
.info.bottom-right {
  bottom: 30px;
  right: 30px;
}

/* Estilos */

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- Posicion de los slider ----*/

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2),
#slide2:checked ~ .slider-prev-next-control label:nth-child(3),
#slide3:checked ~ .slider-prev-next-control label:nth-child(4),
#slide4:checked ~ .slider-prev-next-control label:nth-child(5),
#slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1),
#slide3:checked ~ .slider-prev-next-control label:nth-child(2),
#slide4:checked ~ .slider-prev-next-control label:nth-child(3),
#slide5:checked ~ .slider-prev-next-control label:nth-child(4),
#slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
  content: "\f104";
  padding-left: 8px;
}

#slide1:checked ~ .slider-dot-control label:nth-child(1),
#slide2:checked ~ .slider-dot-control label:nth-child(2),
#slide3:checked ~ .slider-dot-control label:nth-child(3),
#slide4:checked ~ .slider-dot-control label:nth-child(4),
#slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: #333;
}

#slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
#slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
#slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
#slide4:checked ~ .slider-wrapper article:nth-child(4) .info,
#slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

/*---- Resposive Para tablet  ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
/*---- Resposive para moviles----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}
@media only screen and (min-width: 850px) {
  body {
    padding: 0 80px;
  }
}
