<app-nav></app-nav>

<section class="container-fluid container-primero">
  <div class="container-motivacion">
    <h1 class="strong tracking-in-contract-bck-bottom">ELIGE TUS LÍMITES</h1>
  </div>
</section>

<section class="container"> 
  <h1 class="covid19">En este gimnasio vamos más allá del fitness.<br>Cuidamos tu salud.</h1>
</section>


<section class="container"> 
  <div class="row ajuste-section fondo1">
      <div class="col-sm-12 col-md-6 contenedor-letra">
          <h3 class="estilo-letra letra3d">PONTE EN FORMA</h3>
      </div>
      <div class="col-sm-6 col-md-6">
          <img class="img-section" src="../../assets/img/index/webp/1.webp" alt="Ponte en forma">
      </div>
  </div>
</section>

<section class="container">

    <div class="row contenedor-svg">

      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">
        
        <div class="row">
          <div class="col-md-12 svg-individual"> 
            <img class="estilo-svg" src="../../assets/img/index/svg/2.svg " alt="logo">
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12"> 
            <h3 class="letraCentro">ENTRENAMIENTO SUPERVISADO</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"> 
            <h6 class="letraCentro letraGris">"Entrenar menos pero mejor" es uno de nuestros pilares, así que siempre dispondrás de un técnico de sala para indicarte cómo realizar cada ejercicio correctamente.</h6>
          </div>
        </div>
          
      </div>
      

      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">
        
            <div class="row">
              <div class="col-md-12 svg-individual"> 
                <img class="estilo-svg" src="../../assets/img/index/svg/3.svg " alt="logo">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 pt-3 pb-3"> 
                <h3 class="letraCentro">LOGRA TUS METAS</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12"> 
                <h6 class="letraCentro letraGris">El trato personalizado y cercano hará que consigas tus objetivos y seas capaz de mantenerlo en el tiempo.</h6>
              </div>
            </div>
        
      </div>
      

      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">
        

            <div class="row">
              <div class="col-md-12 svg-individual"> 
                <img class="estilo-svg" src="../../assets/img/index/svg/4.svg " alt="logo">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 pt-3 pb-3"> 
                <h3 class="letraCentro">SOCIALIZACIÓN</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12"> 
                <h6 class="letraCentro letraGris">Descubre un ambiente social con tus mismas inquietudes y gustos, donde priman el compañerismo y buen rollo.</h6>
              </div>
            </div>
            
          
      </div>
    
    </div>

    <div class="row">
    
      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">

          <div class="row">
            <div class="col-md-12 svg-individual"> 
              <img class="estilo-svg" src="../../assets/img/index/svg/5.svg " alt="logo">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12"> 
              <h3 class="letraCentro">PERSONAL EN CONSTANTE FORMACIÓN</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12"> 
              <h6 class="letraCentro letraGris">Creemos en la continua mejora y por eso, nuestros monitores dueante todo el año realizan cursos de formación que aplican de forma inmmediata.</h6>
            </div>
          </div>

      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">

        <div class="row">
          <div class="col-md-12 svg-individual"> 
            <img class="estilo-svg2" src="../../assets/img/index/svg/6.svg " alt="logo">
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12 pt-3 pb-3"> 
            <h3 class="letraCentro">TRABAJAMOS SOBRE TUS PREFERENCIAS</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"> 
            <h6 class="letraCentro letraGris">Queremos lograr un entrenamiento dinámico y efectivo acorde con las metas que persigues y por ello, diseñamos programas especializados.</h6>
          </div>
        </div>
        
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 contenedor-svg-individual">
        
          <div class="row">
            <div class="col-md-12 svg-individual"> 
              <img class="estilo-svg" src="../../assets/img/index/svg/7.svg " alt="logo">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 pt-4 pb-5"> 
              <h3 class="letraCentro">COLABORACIONES</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12"> 
              <h6 class="letraCentro letraGris" >Trabajamos con distintas empresas para poder ofrecerte todas las actividades dentro y fuera del gimnasio. </h6>
            </div>
          </div>
          
        
      </div>

    </div>
</section>

<section class="container-fluid container-tarifas-bg">
  <h4 class="titulo-tarifas">ELIGE UNA DE NUESTRAS TARIFAS.</h4>
  <div class="row container-tarifas">
    
    <div class="col-lg-3 col-md-6 col-sm-6 container-letra">
        <h1 class="ajuste-letra-tarifas e1">15€</h1>
        <h6 class="ajuste-letra-tarifas">15 días</h6>
        <h3 class="disponibilidad">Disponibilidad total</h3>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 container-letra">
      <h1 class="ajuste-letra-tarifas e1">30€</h1>
      <h6 class="ajuste-letra-tarifas">30 días</h6>
      <h3 class="disponibilidad">Disponibilidad total</h3>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 container-letra">
      <h1 class="ajuste-letra-tarifas e1">80€</h1>
      <h6 class="ajuste-letra-tarifas ">3 meses</h6>
      <h3 class="disponibilidad">Disponibilidad total</h3>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 container-letra">
      <h1 class="ajuste-letra-tarifas e1">150€</h1>
      <h6 class="ajuste-letra-tarifas ">6 meses</h6>
      <h3 class="disponibilidad">Disponibilidad total</h3>
    </div>

  </div>  
</section>

<section class="container"> 
  <h1 class="covid19">Si ellos pueden tú también puedes.<br>No lo dejes para otro día.</h1>
</section>

<div class="wrapper container-cf">
  <input checked type=radio name="slider" id="slide1" />
  <input type=radio name="slider" id="slide2" />
  <input type=radio name="slider" id="slide3" />
  <input type=radio name="slider" id="slide4" />
  <input type=radio name="slider" id="slide5" />

  <div class="slider-wrapper">
    <div class=inner>
      <article>
        <div class="info top-left">
          <h3>Sergio Peinado.</h3></div>

          <picture>
            <source sizes="(min-width: 768px) 100vw" 
                            srcset="../../assets/img/cf/webp/cf4-lg-1600.webp 1600w,
                            ../../assets/img/cf/webp/cf4-md-960.webp 960w,
                            ../../assets/img/cf/webp/cf4-sm-660.webp 660w,
                            ../../assets/img/cf/webp/cf4-xs-400.webp 400w" type="image/webp" alt="Cambio fisico">

            <source sizes="(min-width: 768px) 100vw"
                            srcset="../../assets/img/cf/jpg/cf4-lg-1600.jpg 1600w,
                            ../../assets/img/cf/jpg/cf4-md-960.jpg 960w,
                            ../../assets/img/cf/jpg/cf4-sm-660.jpg 660w,
                            ../../assets/img/cf/jpg/cf4-xs-400.jpg 400w" type="image/jpg" alt="Cambio fisico">

            <img src="../../assets/img/cf/cf4.jpg" alt="Zumba" alt="Cambio fisico">
          </picture>

      </article>

      <article>
        <div class="info bottom-right">
          <h3>Paola Sánchez</h3></div>

          <picture>
            <source sizes="(min-width: 768px) 100vw" 
                            srcset="../../assets/img/cf/webp/cf3-lg-1600.webp 1600w,
                            ../../assets/img/cf/webp/cf3-md-960.webp 960w,
                            ../../assets/img/cf/webp/cf3-sm-660.webp 660w,
                            ../../assets/img/cf/webp/cf3-xs-400.webp 400w" type="image/webp" alt="Cambio fisico">

            <source sizes="(min-width: 768px) 100vw"
                            srcset="../../assets/img/cf/jpg/cf3-lg-1600.jpg 1600w,
                            ../../assets/img/cf/jpg/cf3-md-960.jpg 960w,
                            ../../assets/img/cf/jpg/cf3-sm-660.jpg 660w,
                            ../../assets/img/cf/jpg/cf3-xs-400.jpg 400w" type="image/jpg" alt="Cambio fisico">

            <img src="../../assets/img/cf/cf3.jpg" alt="Zumba" alt="Cambio fisico">
          </picture>

      </article>

      <article>
        <div class="info bottom-left">
          <h3>Jésus Gallego</h3></div>

          <picture>
            <source sizes="(min-width: 768px) 100vw" 
                            srcset="../../assets/img/cf/webp/cf5-lg-1600.webp 1600w,
                            ../../assets/img/cf/webp/cf5-md-960.webp 960w,
                            ../../assets/img/cf/webp/cf5-sm-660.webp 660w,
                            ../../assets/img/cf/webp/cf5-xs-400.webp 400w" type="image/webp" alt="Cambio fisico">

            <source sizes="(min-width: 768px) 100vw"
                            srcset="../../assets/img/cf/jpg/cf5-lg-1600.jpg 1600w,
                            ../../assets/img/cf/jpg/cf5-md-960.jpg 960w,
                            ../../assets/img/cf/jpg/cf5-sm-660.jpg 660w,
                            ../../assets/img/cf/jpg/cf5-xs-400.jpg 400w" type="image/jpg" alt="Cambio fisico">

            <img src="../../assets/img/cf/cf5.jpg" alt="Zumba" alt="Cambio fisico">
          </picture>

      </article>

      <article>
        <div class="info top-right">
          <h3>Antonio Fontan.</h3></div>

          <picture>
            <source sizes="(min-width: 768px) 100vw" 
                            srcset="../../assets/img/cf/webp/cf1-lg-1600.webp 1600w,
                            ../../assets/img/cf/webp/cf1-md-960.webp 960w,
                            ../../assets/img/cf/webp/cf1-sm-660.webp 660w,
                            ../../assets/img/cf/webp/cf1-xs-400.webp 400w" type="image/webp" alt="Cambio fisico">

            <source sizes="(min-width: 768px) 100vw"
                            srcset="../../assets/img/cf/jpg/cf1-lg-1600.jpg 1600w,
                            ../../assets/img/cf/jpg/cf1-md-960.jpg 960w,
                            ../../assets/img/cf/jpg/cf1-sm-660.jpg 660w,
                            ../../assets/img/cf/jpg/cf1-xs-400.jpg 400w" type="image/jpg" alt="Cambio fisico">

            <img src="../../assets/img/cf/cf1.jpg" alt="Zumba" alt="Cambio fisico">
          </picture>

      </article>

      <article>
        <div class="info bottom-left">
          <h3>Arturo Valley.</h3></div>

          <picture>
            <source sizes="(min-width: 768px) 100vw" 
                            srcset="../../assets/img/cf/webp/cf2-lg-1600.webp 1600w,
                            ../../assets/img/cf/webp/cf2-md-960.webp 960w,
                            ../../assets/img/cf/webp/cf2-sm-660.webp 660w,
                            ../../assets/img/cf/webp/cf2-xs-400.webp 400w" type="image/webp" alt="Cambio fisico">

            <source sizes="(min-width: 768px) 100vw"
                            srcset="../../assets/img/cf/jpg/cf2-lg-1600.jpg 1600w,
                            ../../assets/img/cf/jpg/cf2-md-960.jpg 960w,
                            ../../assets/img/cf/jpg/cf2-sm-660.jpg 660w,
                            ../../assets/img/cf/jpg/cf2-xs-400.jpg 400w" type="image/jpg" alt="Cambio fisico">

            <img src="../../assets/img/cf/cf2.jpg" alt="Zumba" alt="Cambio fisico">
          </picture>

    
      </article>
    </div>
  
    <!-- .inner -->
  
  </div>
  
  <!-- .slider-wrapper -->
  
  <div class="slider-prev-next-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>
  
  <!-- .slider-prev-next-control -->
  
  <div class="slider-dot-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>

  <!-- .slider-dot-control -->
  
</div>

<app-footer></app-footer>










