.img100{
	width: 40%;
}

.covid19{
	margin-top: 10%;
	margin-bottom: 7%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.container-img{
	text-align: center;

}

.img-fluid{
	padding: 10px 15px;
	height: 75%;
	width: 100%;

}

.cuadro-img{
	border-top: 1px solid black;
	text-align: center;
	padding: 5px 8px;
	font-family: Arial, sans-serif;
}

.titulo{
	text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
