<app-nav></app-nav>

<section class="container"> 
	<h1 class="covid19">Seguimos entrenando contigo desde casa.</h1>
</section>


<section class="container">

	<h2 class="titulo">ACTIVIDADES DIRIGIDAS</h2>

	<br>

	<div class="row">

		<div class="col-md-6 col-sm-6 borde-img-actividades">

			<picture>
				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/webp/bicis-lg-1600.webp 1600w,
								../../assets/img/Actividades/webp/bicis-md-960.webp 960w,
								../../assets/img/Actividades/webp/bicis-sm-660.webp 660w,
								../../assets/img/Actividades/webp/bicis-xs-400.webp 400w" type="image/webp" alt="spinning">

				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/jpg/bicis-lg-1600.jpg 1600w,
								../../assets/img/Actividades/jpg/bicis-md-960.jpg 960w,
								../../assets/img/Actividades/jpg/bicis-sm-660.jpg 660w,
								../../assets/img/Actividades/jpg/bicis-xs-400.jpg 400w" type="image/jpg" alt="spinning">

				<img class="img-fluid" src="../../assets/img/Actividades/normal/bicis.jpg " alt="spinning">
			</picture>
			<h3 class="cuadro-img">Spinning</h3>
			
		</div>

		<div class=" col-sm-6 col-md-6 borde-img-actividades">

			<picture>
					<source sizes="(min-width: 768px) 50vw,
									100vw" srcset="../../assets/img/Actividades/webp/crossfit-lg-1600.webp 1600w,
									../../assets/img/Actividades/webp/crossfit-md-960.webp 960w,
									../../assets/img/Actividades/webp/crossfit-sm-660.webp 660w,
									../../assets/img/Actividades/webp/crossfit-xs-400.webp 400w" type="image/webp" alt="Crossfit">

					<source sizes="(min-width: 768px) 50vw,
									100vw" srcset="../../assets/img/Actividades/jpg/crossfit-lg-1600.jpg 1600w,
									../../assets/img/Actividades/jpg/crossfit-md-960.jpg 960w,
									../../assets/img/Actividades/jpg/crossfit-sm-660.jpg 660w,
									../../assets/img/Actividades/jpg/crossfit-xs-400.jpg 400w" type="image/jpg" alt="Crossfit">

					<img class="img-fluid " src="../../assets/img/Actividades/normal/crossfit.jpg " alt="Crossfit">
			</picture>
			<h3 class="cuadro-img">Crossfit</h3>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6 col-sm-6 borde-img-actividades">

			<picture>
				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/webp/judo-lg-1600.webp 1600w,
								../../assets/img/Actividades/webp/judo-md-960.webp 960w,
								../../assets/img/Actividades/webp/judo-sm-660.webp 660w,
								../../assets/img/Actividades/webp/judo-xs-400.webp 400w" type="image/webp" alt="Judo">

				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/jpg/judo-lg-1600.jpg 1600w,
								../../assets/img/Actividades/jpg/judo-md-960.jpg 960w,
								../../assets/img/Actividades/jpg/judo-sm-660.jpg 660w,
								../../assets/img/Actividades/jpg/judo-xs-400.jpg 400w" type="image/jpg" alt="Judo">

				<img class="img-fluid " src="../../assets/img/Actividades/normal/judo.jpg " alt="Judo">
			</picture>
			<h3 class="cuadro-img">Judo</h3>
			
		</div>

		<div class="col-md-6 col-sm-6   borde-img-actividades">

			<picture>
				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/webp/hiit-lg-1600.webp 1600w,
								../../assets/img/Actividades/webp/hiit-md-960.webp 960w,
								../../assets/img/Actividades/webp/hiit-sm-660.webp 660w,
								../../assets/img/Actividades/webp/hiit-xs-400.webp 400w" type="image/webp" alt="hiit">

				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/jpg/hiit-lg-1600.jpg 1600w,
								../../assets/img/Actividades/jpg/hiit-md-960.jpg 960w,
								../../assets/img/Actividades/jpg/hiit-sm-660.jpg 660w,
								../../assets/img/Actividades/jpg/hiit-xs-400.jpg 400w" type="image/jpg" alt="hiit">

				<img class="img-fluid " src="../../assets/img/Actividades/normal/hiit.jpg " alt="hiit">
			</picture>
			<h3 class="cuadro-img">Hiit</h3>
			
		</div>

	</div>	


	<div class="row">

		<div class="col-md-6 col-sm-6   borde-img-actividades">

			<picture>
				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/webp/zumba-lg-1600.webp 1600w,
								../../assets/img/Actividades/webp/zumba-md-960.webp 960w,
								../../assets/img/Actividades/webp/zumba-sm-660.webp 660w,
								../../assets/img/Actividades/webp/zumba-xs-400xs.webp 400w" type="image/webp" alt="Zumba">

				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/jpg/zumba-lg-1600.jpg 1600w,
								../../assets/img/Actividades/jpg/zumba-md-960.jpg 960w,
								../../assets/img/Actividades/jpg/zumba-sm-660.jpg 660w,
								../../assets/img/Actividades/jpg/zumba-xs-400.jpg 400w" type="image/jpg" alt="Zumba">

				<img class="img-fluid " src="../../assets/img/Actividades/normal/zumba.jpg " alt="Zumba">
			</picture>

			<h3 class="cuadro-img">Zumba</h3>
			
		</div>
	

		<div class="col-md-6 col-sm-6   borde-img-actividades">

			<picture>
				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/webp/pilates-lg-1600.webp 1600w,
								../../assets/img/Actividades/webp/pilates-md-960.webp 960w,
								../../assets/img/Actividades/webp/pilates-sm-660.webp 660w,
								../../assets/img/Actividades/webp/pilates-xs-400.webp 400w" type="image/webp" alt="Pilates">

				<source sizes="(min-width: 768px) 50vw,
								100vw" srcset="../../assets/img/Actividades/jpg/pilates-lg-1600.jpg 1600w,
								../../assets/img/Actividades/jpg/pilates-md-960.jpg 960w,
								../../assets/img/Actividades/jpg/pilates-sm-660.jpg 660w,
								../../assets/img/Actividades/jpg/pilates-xs-400.jpg 400w" type="image/jpg" alt="Pilates">

				<img class="img-fluid " src="../../assets/img/Actividades/normal/pilates.jpg " alt="Pilates">
			</picture>

			<h3 class="cuadro-img">Pilates</h3>
			
		</div>

	</div>
	
</section>

<app-footer></app-footer>
