.contenedor-total{
    background-color: #FFFAFE;
    padding-bottom: 5%;
}
.estilo-tabla{
    margin-top: 2%;
}

.centrar{
    text-align: center;
    padding-top: 5%;
    font-family: Roboto;
}

.boton{
    margin-top: 3%;
    text-align: center;
    background-color: #E65724;
    color: white;
    border: none;
    border-radius: 100px;
}

.boton:hover{
    background-color: rgb(202, 75, 29);
}