<app-nav-cliente></app-nav-cliente>


<h3 class="centrar">Buenos días Nombre del cliente!!</h3>

<div class="container estilo-tabla">
    <table class="table ">
        <thead>
        <tr>
            <th scope="col">Nombre y apellidos</th>
            <th scope="col">Gmail</th>
            <th scope="col">Código de cliente</th>
            <th scope="col">Teéfono</th>
            <th scope="col">Modificar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Eduardo Bocanegra</th>
            <td>Mark@gmail.com</td>
            <td>0000</td>
            <td>648484596</td>
            <td><input class="boton" type="button" name="Modificar" value="Modificar"></td>
        </tr>
        </tbody>
    </table>
</div>
