.estilo-tabla{
    margin-top: 2%;
    text-align: center;
}

.centrar{
    text-align: center;
    margin-top: 5%;
}

.boton{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}