<div class="contenedor-total">
    <h3 class="centrar">Bienvenido Nombre del cliente!!</h3>

    <div class="container estilo-tabla">
        <table class="table ">
            <tbody>
                <tr>
                    <th scope="col">Nombre y apellidos</th>
                    <th>Eduardo Bocanegra</th>  
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="col">Nif</th>
                    <td>213424234</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="col">Dirección</th>
                    <td>asdfgasd gasdfga dfg adfg</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="col">Correo</th>
                    <td>Mark@gmail.com</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="col">Fecha de Inscripción</th>
                    <td>fecha</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>