<app-nav-cliente></app-nav-cliente>

<div class="container">
    
    <h3 class="estilo-letra">Nuestras rutinas</h3>
    
    <div class="row contenedor-btn">
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="PRINCIPIANTE" routerLink="/rutinaPrincipiante" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="AVANZADA" routerLink="/rutinaAvanzada" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="EN CASA" routerLink="/rutinaCasa" routerLinkActive="active">
        </div>
    </div>
    
</div>
