<app-nav-cliente></app-nav-cliente>

<div class="container">
    
    <h3 class="estilo-letra">Nuestras rutinas</h3>
    
    <div class="row contenedor-btn">
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="PRINCIPIANTE" routerLink="/rutinaPrincipiante" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="AVANZADA" routerLink="/rutinaAvanzada" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="EN CASA" routerLink="/rutinaCasa" routerLinkActive="active">
        </div>
    </div>
    
</div>


<div class="container">
    
    <h6 class="mb-4 text-center">* Solo necesitaremos unas gomas elásticas de resistencia.<br> Cualquier duda respecto a la técnica de los ejercicios contacten con nosotros.</h6>
    
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>DÍA 1</th>
                <th>DÍA 2</th>
                <th>DÍA 3</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Pectoral</th>
                    <th>Espalda</th>
                    <th>Pierna</th>
                </tr>

                <tr>
                    <td>Flexiones 4xfallo</td>
                    <td>Dominadas 4xRIR 2</td>
                    <td>Sentadilla 4x12</td>                
                </tr>
            
                <tr>
                    <td>Flexiones con piernas elevadas 4xRIR 2</td>
                    <td>Remo con banda unilateral 4x10</td>
                    <td>Peso muerto rumano con banda 3x12</td>
                    
                </tr>
            
                <tr>
                    <td>Cruce con banda 4x12</td>
                    <td>Remo con banda 4x12</td>
                    <td>Zancada 4xfallo</td>                
                </tr>
            
                <tr>
                    <th>Biceps</th>
                    <th>Triceps</th>
                    <th>Hombro</th>
                </tr>
                
                <tr>
                    <td>Curl de Biceps con banda 4x12</td>
                    <td>Extrension de triceps con banda 4x12</td>
                    <td>Elevaciones laterales con banda 4x10</td>
                </tr>
                <tr>
                    <td>Martillo con banda 4x10</td>
                    <td>Flexiones con manos juntas 4x10</td>
                    <td>Press militar con banda 4x10</td>            
                </tr>
                <tr>
                    <td>Dominadas con agarre invertido 4xfallo</td>
                    <td>Extension de triceps invertido con banda 4x12</td>
                    <td>Pajaro con banda 4x10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
