<app-nav-cliente></app-nav-cliente>

<div class="container">
    
    <h3 class="estilo-letra">Nuestras rutinas</h3>
    
    <div class="row contenedor-btn">
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="PRINCIPIANTE" routerLink="/rutinaPrincipiante" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="AVANZADA" routerLink="/rutinaAvanzada" routerLinkActive="active">
        </div>
        <div class="col-md-4 col-lg-4 a1">
            <input class="r1" type="button" value="EN CASA" routerLink="/rutinaCasa" routerLinkActive="active">
        </div>
    </div>
    
</div>

<div class="container">

    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="col">DÍA 1</th>
            <th scope="col">DÍA 2</th>
            <th scope="col">DÍA 3</th>
        </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">Pectoral</th>
                <th scope="col">Espalda</th>
                <th scope="col">Pierna</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Press Banca 4x10 ó flexiones 4xfallo</td>
                <td>Remo con barra 4x12</td>
                <td>Sentadilla 4x12</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Aperturas 4x10</td>
                <td>Remo con barra agarre invertido 4x10</td>
                <td>Peso muerto rumano 3x12</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Cruce de poleas 4x12</td>
                <td>Jalon al pecho 4x12</td>
                <td>Extension de cuadriceps 4x12</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Biceps</th>
                <th>Triceps</th>
                <th>Hombro</th>
            </tr>
        </tbody>
        <tbody>
        <tr>
            <td>Curl de Biceps 4x12</td>
            <td>Extrension de triceps en polea 4x12</td>
            <td>press militar 4x10</td>
        </tr>
        <tr>
            <td>Martillo 4x10</td>
            <td>press banca agarre cerrado 4x10</td>
            <td>Elevaciones laterales 4x10</td>
        </tr>
        <tr>
            <td>Curl de Biceps con barra 4x12</td>
            <td>Press francés 4x12</td>
            <td>Elevaciones frontales 4x10</td>
        </tr>
        </tbody>
    </table>
</div>