body{
    font-family: Open Sans, sans-serif;
}

.r1{
    background-color: #E65724;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;
}

.r1:hover{
    background-color: rgb(202, 75, 29);
}
.contenedor-btn{
    margin-top: 5%;
    margin-bottom: 5%;
}
.estilo-letra{
    padding: 2%;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
}

.a1{
    display: flex;
    justify-content: center;
}
