nav {
    border: 1px solid #ccc;
}

.ajuste-logo{
    width: 8%;
    cursor: pointer;
}

.centrar-nav{
  display: flex;
  justify-content: center;
}

#navbarNav .navbar-nav a{
    padding: 1.2rem 2rem;
}

@media (max-width: 991.98px) {
    .nav-vertical {
        border: 1px solid #ccc;
        display: none;
         visibility: hidden;
        position: absolute;
        width: 300px;
        top: 57px;
    }

    .active {
        right: -1px;
        display: inline;
        visibility: visible;
    }
}

.navbar-collapse{
    background-color: white;
    z-index: 1;
}