<app-nav-cliente></app-nav-cliente>

<div class="container">
    <div class="row contenedor-btn">
        <div class="col-md-6 col-sm-6">
            <h3 class="estilo-letra">Nuestras rutinas</h3>
        </div>
        <div class="col-md-2 col-sm-2">
            <input class="r1" type="button" value="PRINCIPIANTE" routerLink="/rutinaPrincipiante" routerLinkActive="active">
        </div>
        <div class="col-md-2 col-sm-2">
            <input class="r1" type="button" value="AVANZADA" routerLink="/rutinaAvanzada" routerLinkActive="active">
        </div>
        <div class="col-md-2 col-sm-2">
            <input class="r1" type="button" value="EN CASA" routerLink="/rutinaCasa" routerLinkActive="active">
        </div>
    </div>
    
</div>



