<app-nav-admin></app-nav-admin>
<!--Pagina Monitores-->

<div class="container-fluid tamaño-total">

    <section class="tamaño-inf"> 
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 contenedor-inf">
                        <div>
                            <h5 class="estilo-titulo">Número de monitores:  {{monitoresTotales}} MONITORES</h5>
                        </div>

                        <div class="container-btn-crear">
                            <input type="submit" value="Crear Monitor" class="button" routerLink="/registro" routerLinkActive="active">
                        </div>
                        
                        <div class="table-responsive text-center">
                            <table class="table table-striped ajuste-tabla">
                                <thead>
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Nif</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let monitor of monitores">
                                    <td>{{monitor.codigo}}</td>
                                    <td>{{monitor.nombre}}</td>
                                    <td>{{monitor.nif}}</td>
                                    <td>{{monitor.direccion}}</td>
                                    <td>{{monitor.correo}}</td>
                                    <td>{{monitor.telefono}}</td>
                                    <td>X</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div>
    </section>
</div>