<div class="contenedor-total">

    <div class="separacion"></div>

    <form class="formulario">
        
        <h1>Registrate</h1>
        <div class="contenedor">
        
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre Completo">  
            </div>
                
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>

            <input type="submit" value="Registrate" class="button">
            
            <p>¿Ya tienes una cuenta?<a class="link" routerLink="/login" routerLinkActive="active"> Iniciar Sesion</a></p>
            <p><a class="link" routerLink="/" routerLinkActive="active">Ir al inicio</a></p>
        </div>
    </form>
</div>
